@import "libs/normalize.scss" ;
@import "libs/keyframes.scss" ;


*{
    font-family: 'Roboto', sans-serif;
    }
    .conteneur__galerie,.button{
      margin-left: auto;
      margin-right: auto;
      max-width: 1024px;
      }

/****************logo****************/

.logo {
    width:100%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 25px;
    padding-bottom: 12px;
  }

.fond-1{
    background-image: url(../asset-img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.fond-2{
    background-image: url(../asset-img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.fond-3{
    background-image: url(../asset-img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
}
.fond-4{
    background-image: url(../asset-img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
}

.fa-arrow-left{
    position:absolute;
    margin-top: 28px;
    margin-left: 5%;
    font-size: 22px;
    color: black;
    transform: scale(1);
    transition:transforme 400ms ;
        &:hover{
            transform: scale(1.15);
        }
}

/***************conteneur***************/

.conteneur{
    padding-top: 25px;
}
.conteneur__galerie{
    background-color:rgb(245, 244, 244);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .conteneur__nom1{
        font-family: 'Shrikhand', cursive;
        font-size: 24px;
    }

    .conteneur__nom{
        font-weight: bold;
        margin-top: 48%;
        padding-top: 40px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        text-decoration:none;

        .fa-heart{
            font-size: 23px;
            margin-right: 8%;
            text-decoration:none;
            border-color: black;
            border-color: rgb(245, 244, 244);
            background-color: rgb(245, 244, 244);
            color: rgb(245, 244, 244);
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(0, 0, 0);
            transition: 500ms;
        
            &:hover{
                color: #9356DC;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #9356DC;
                animation: heart-anim 1s ease 0s 1 normal forwards;
            }
        }
    }

    .conteneur__sous-nom{
        margin-top: 40px;
        padding-bottom:5px ;
        margin-right: 80%;
        margin-left: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 17px;
        border-bottom: #99E2D0 3px solid;
    }

    .conteneur__item {
        display: flex;
        background-color: white;
        margin-left: 3%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(187, 187, 187);
        margin-right: 3%;
        margin-bottom: 20px;
        justify-content: flex-end;
        animation:apparition  1s 
        ease-in 0.3s 
        backwards;
      
        &:hover{
          .btn {
            width: 17%;
            display: flex;
            height: auto;
            align-items: center;
            justify-content: center;
          }

          .fa-check-circle{
            color: white;
            animation: check 1s ease 0s 1 normal forwards;
            font-size: 20px;
          }
      
          .content {
            width: 83%;
          }
        }
        .btn {
            background-color: #99E2D0;
            width:0;
            height: auto;
            transition: 0.7s;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            
          }
    }
      
      .content {
        border-radius: 20px;
        height: 100%;
        position: relative;
        transition: 0.7s;
        width: 100%;
      }

      .price {
        position: absolute;
        right: 0;
        margin-right: 15px;
        margin-left: 10px;
        transform: translateX(-2px);
        top: 60%;
      }

    .btn{
        width: 0;
        height: 100%;
        transition:1s;
        background-color: #99E2D0;

        .fa-check-circle{
            color: rgba(255, 255, 255, 0);
        }
    }

    .conteneur__item2{
        display: flex;
        background-color: white;
        margin-left: 3%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(187, 187, 187);
        margin-right: 3%;
        margin-bottom: 20px;
        justify-content: flex-end;
        animation:apparition  1.2s ease-in 0.4s backwards;

        &:hover{
            .btn {
              width: 17%;
              display: flex;
              height: auto;
              align-items: center;
              justify-content: center;
            }
  
            .fa-check-circle{
              color: white;
              animation: check 1s ease 0s 1 normal forwards;
              font-size: 20px;
            }
        
            .content {
              width: 83%;
            }
          }
          .btn {
              background-color: #99E2D0;
              width:0;
              height: auto;
              transition: 0.7s;
              border-bottom-right-radius: 20px;
              border-top-right-radius: 20px;
            }
    }

    .conteneur__item3{
        display: flex;
        background-color: white;
        margin-left: 3%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(187, 187, 187);
        margin-right: 3%;
        margin-bottom: 20px;
        justify-content: flex-end;;
        animation:apparition  1s ease-in 0.8s backwards;

        &:hover{
            .btn {
              width: 17%;
              display: flex;
              height: auto;
              align-items: center;
              justify-content: center;
            }
            .fa-check-circle{
              color: white;
              animation: check 1s ease 0s 1 normal forwards;
              font-size: 20px;
            }
            .content {
              width: 83%;
            }
          }
          .btn {
              background-color: #99E2D0;
              width:0;
              height: auto;
              transition: 0.7s;
              border-bottom-right-radius: 20px;
              border-top-right-radius: 20px;
            }
    }
    .conteneur__item4{
        display: flex;
        background-color: white;
        margin-left: 3%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgb(187, 187, 187);
        margin-right: 3%;
        margin-bottom: 20px;
        justify-content: flex-end;
        animation:apparition  0.99s ease-in 1s backwards;

        &:hover{
            .btn {
              width: 17%;
              display: flex;
              height: auto;
              align-items: center;
              justify-content: center;
            }
            .fa-check-circle{
              color: white;
              animation: check 1s ease 0s 1 normal forwards;
              font-size: 20px;
            }
            .content {
              width: 83%;
            }
          }
          .btn {
              background-color: #99E2D0;
              width:0;
              height: auto;
              transition: 0.7s;
              border-bottom-right-radius: 20px;
              border-top-right-radius: 20px;
            }
    }
}
.item__nom{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    padding-top: 5px;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item--sous-nom{
    margin-left: 12px;
    margin-bottom: 10px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}          
.item__prix{
    margin-left: 10px;
    margin-right: 20px;
    right: 0;
    transition:1s;
    white-space: nowrap;
} 
.button{
    background: linear-gradient(-20deg, #9356DC , #FF79DA );
    padding: 20px 10px;
    text-align: center;
    margin-left: 20%;
    border-radius: 50px;
    width: 55%;
    font-size: 18px;
    text-decoration:none; 
    color: white;
    border: white;
    box-shadow: 2px 2px 5px rgb(187, 187, 187);
    transition: transform 3s ease-in-out;

    &:hover{
        background: linear-gradient(80deg, #9356DC , #FF79DA );
        box-shadow: 4px 4px 10px rgb(187, 187, 187);
    }
}
.button__foot{
  background-color: rgb(245, 244, 244);
  padding-bottom: 40px;
  padding-top: 40px;
  width: auto;
  height: auto;
}
  /****************footer****************/
    
.footer{
    width: 100%;
    background-color: rgb(53, 53, 53);
    padding-bottom: 20px;


    .footer__logo{
        padding-left:7% ;
        margin-top: 25px;
        margin-bottom: 15px;
        width: 150px;
        filter: drop-shadow(16px 16px 20px white) invert(100%);
    }

    .footer__foot{
        margin-left: 7%;
        margin-bottom: 10px;
        font-size: 18px;
        color: white;
        text-decoration: none;
    }

    .fa-utensils{
        margin-right: 16px;
        font-size: 15px;
    }

    .fa-hands-helping{
        margin-right: 9px;
        font-size: 15px;
    }
}

@media screen and (min-width: 430px){

    .fa-arrow-left{
        margin-top: 5%;
        font-size: 200%;
    }
    .conteneur__galerie{
        padding-bottom: 60px;

        .conteneur__nom{
            margin-top: 30%;
        }
        .conteneur__nom1{
            margin-left: 5%;
            font-size: 40px;
        }
        .conteneur__sous-nom{
            margin-left: 10%;
            font-size: 20px;
        }
        .conteneur__item{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item2{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item3{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item4{
            margin-left:10% ;
            margin-right: 10%;
        }
    }
}

@media screen and (min-width: 769px){

    .fa-arrow-left{
        margin-top: 2%;
        font-size: 200%;
    }
    .logo{
        width: 60%;
        padding-left: 15%;
        padding-top: 20px;
    }
    .conteneur__galerie{
        padding-bottom: 60px;
        
        .conteneur__nom{
            margin-top: 30%;
        }
        .conteneur__nom1{
            margin-left: 5%;
            font-size: 40px;
        }
        .conteneur__sous-nom{
            margin-left: 10%;
            width: 6%;
            font-size: 20px;
        }
        .conteneur__item{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item2{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item3{
            margin-left:10% ;
            margin-right: 10%;
        }
        .conteneur__item4{
            margin-left:10% ;
            margin-right: 10%;
        }
    }
    .button__foot{
      transform: translateY(-20px);
    }
    .button{
        width: 20%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -50px;
    }
    .footer{
      .footer__logo{
        width:300px;
      }
    }
    
}
@media screen and (min-width: 1024px){
.fond-1{
  background-color:rgb(245, 244, 244) ;
  background-size: cover;
  background-repeat: no-repeat ;
  background-image: linear-gradient(rgba(0, 0, 255, 0), rgb(245, 244, 244)),url(../asset-img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.fond-2{
  background-size: cover;
  background-repeat: no-repeat ;
  background-image: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),url(../asset-img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.fond-3{
  background-size: cover;
  background-repeat: no-repeat ;
  background-image: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),url(../asset-img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.fond-4{
  background-size: cover;
  background-repeat: no-repeat ;
  background-image: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255)),url(../asset-img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

}
@media screen and (min-width: 2560px){
  .footer{
    .footer__logo{
      width: 350px;
      margin-left: 30%;
      transform: translateX(-50%);
    }
    .footer__foot{
      margin-left: 37%;
      transform: translateX(-50%);
      width: 350px;
    }
  }
}